<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<div class="shadow-lg p-3 mb-5 rounded bg-info" >
    <a class="shadow-lg p-3 mb-5 rounded bg-danger text-warning" href="/" >Аниме БД</a>
    <a href="/Characters"><button type="button" class="btn btn-secondary">Characters</button></a>
    <a href="/Authors"><button type="button" class="btn btn-secondary" href="Authors">Authors</button></a>
    <a href="/Anime"><button type="button" class="btn btn-secondary">Anime</button></a></div>
<h1>Что-то пошло не так...</h1>
<h2>Данная страница не найдена</h2>
<p>Возможно произошла ошибка в строке или данные были удалены</p>
</body>
</html>